@page "/add_bot"
@using Botticelli.Shared.API.Admin.Responses
@using Botticelli.Shared.API.Client.Requests
@using Botticelli.Shared.Constants
@using System.Net
@using System.Net.Http.Headers
@inject HttpClient Http
@using Botticelli.Server.Data.Entities
@using Botticelli.Server.FrontNew.Settings
@using Flurl
@using Microsoft.Extensions.Options
@inject NavigationManager uriHelper;
@inject IOptionsMonitor<BackSettings> backSettings;


@code
{
    public string botKey;
}

<PageTitle>Add a new bot</PageTitle>
<h1>New Bot</h1>
<form method="post" @onsubmit="HandleSubmit">
    Bot Key:
    <input type="text" id="botNameInput" @bind="botKey" /><br/>
    <input type="submit">
</form>


@code {
    private async Task HandleSubmit()
    {
        var request = new RegisterBotRequest
            {
                BotId = Guid.NewGuid().ToString(),
                BotKey = botKey,
                Type = BotType.Telegram
            };

        var response = await Http.PostAsJsonAsync( Url.Combine(backSettings.CurrentValue.BackUrl, "/client/AddNewBot"),
                                                   JsonContent.Create(request));
    }
}