@inject CookieStorageAccessor Cookies;

@code {
    private bool _collapseNavMenu = true;
    private bool _showLoginMenu = false;
    private string _error = "";

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu() => _collapseNavMenu = !_collapseNavMenu;

    /// <summary>
    /// Method invoked when the component is ready to start, having received its
    /// initial parameters from its parent in the render tree.
    /// Override this method if you will perform an asynchronous operation and
    /// want the component to refresh when that operation is completed.
    /// </summary>
    /// <returns>A <see cref="T:System.Threading.Tasks.Task" /> representing any asynchronous operation.</returns>
    protected override async Task OnInitializedAsync()
    {
        _showLoginMenu = string.IsNullOrWhiteSpace(await Cookies.GetValueAsync("SessionToken"));
        _error = await Cookies.GetValueAsync("SessionToken");
    }

}

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Botticelli admin pane</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"/>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @if (_showLoginMenu)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="">
                    <span class="oi oi-home" aria-hidden="true"/>
                    Login
                </NavLink>
            </div>
        }
        else
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="logoff">
                    <span class="oi oi-home" aria-hidden="true"/>
                    Logoff
                </NavLink>
            </div>
        }
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="your_bots">
                <span class="oi oi-list-rich" aria-hidden="true"/> Yor bots
            </NavLink>
        </div>
    </nav>
    
    @*<RadzenLabel @bind-text="@_error" Style="color: red; font-weight: bold" />*@
</div>