@page "/BotList"
@inject HttpClient Http
@using System.Text.Json
@using Botticelli.Server.Data.Entities

<PageTitle>Your bots</PageTitle>
<Label>Your bots</Label>

@code {
    IEnumerable<BotInfo> _botInfos = new List<BotInfo>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var response = await Http.GetFromJsonAsync<BotInfo>("http://localhost:5145/admin/GetBots");

            await base.OnInitializedAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

}

@foreach (var botInfo in _botInfos)
{
    <button class="btn btn-primary">@botInfo.BotId</button>
}