@page "/BotList"
@using Botticelli.Server.Data.Entities
@using System.Text.Json
@inject IHttpClientFactory ClientFactory

<PageTitle>Your bots</PageTitle>
<Label>Your bots</Label>

@code {
    IEnumerable<BotInfo> _botInfos = new List<BotInfo>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var request = new HttpRequestMessage(HttpMethod.Get,
                                                 "http://localhost:5145/admin/GetBots");
            var client = ClientFactory.CreateClient();

            var response = await client.SendAsync(request);

            if (response.IsSuccessStatusCode)
            {
                using var responseStream = await response.Content.ReadAsStreamAsync();

                _botInfos = await JsonSerializer.DeserializeAsync<IEnumerable<BotInfo>>(responseStream);
            }

            await base.OnInitializedAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

}

@foreach (var botInfo in _botInfos)
{
    <button class="btn btn-primary">@botInfo.BotId</button>
}